<div class="container-fluid" class="background">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/images/Other_page_hello_jpeg.jpg"
            style="float: right; width: 200px; margin-top: 30px; margin-right: 30px;" (click)="openDialog()">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <br />
            <a class="a_style" routerLink="/home"><p class="title">WILD</p>
            <p class="title">ART</p>
            <p class="title">STUDIO</p></a>
            <p class="sub_menu"><a class="a_style" routerLink="/team"><u>TEAM</u></a> |
                <a class="a_style" routerLink="/work">WORK</a> |
                <a class="a_style" routerLink="/services">SERVICES</a>
            </p>
        </div>
        <div class="col-xs-1">
            <p class="vertical_line"></p>
        </div>
        <div class="col-md-7">
            <p class="sub_menu">
                Flawless, Smooth, Makers
            </p>
            <p class="paragraph">
                There’s only three of us, but we’ve got the skills and experience</p>
            <p class="paragraph">to help your team tackle the next challenge.</p>
            <img src="assets/images/Character&designation_jpeg.jpg" width="650px" height="auto">

        </div>

    </div>
</div>