.background
{
    position: relative;
    overflow-x: hidden;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.title
{
    padding: 0px;
    color:#AE0712;
    font-size: 85px;
    /*height: auto;*/
    margin-left: 32px;
    font-weight: 650;
    line-height: 70px;
    font: Roboto;
}

.paragraph
{
  font-size: 20px;
  color: #AE0712;
  font-weight: bold;
  margin-left: 32px;
  font: Roboto;
}

.sub_menu
{
  font-size: 45px;
  color: #AE0712;
  font-weight: bolder;
  margin-left: 32px;
  font: Roboto;
  line-height: 70px;
}

.a_style
{
  color:white;
  font-size: 27px;
  color:#AE0712;
  /* margin-left: 30px; */
  font-weight: bold;
  font: Roboto;
}

.vertical_line
{
  border-left: 4px solid #AE0712;
  height: 150px;
  margin-top: 120px;
  
}