.background
{
    position: relative;
    overflow-x: hidden;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.popup {
  float: right;
  width: 200px;
  margin-top: 20px;
}

.title
{
    padding: 0px;
    color:#AE0712;
    font-size: 85px;
    /*height: auto;*/
    margin-left: 32px;
    font-weight: 650;
    line-height: 70px;
    font: Roboto;
}

.paragraph
{
  font-size: 20px;
  color: #AE0712;
  font-weight: bold;
  margin-left: 32px;
  font: Roboto;
}

.sub_menu
{
  font-size: 32px;
  color: #AE0712;
  font-weight: bolder;
  margin-left: 40px;
  line-height: 70px;
}
.a_style
{
  color:white;
  font-size: 27px;
  color:#AE0712;
  /* margin-left: 30px; */
  font-weight: bold;
  font: Roboto;
}
.b_style {
  text-decoration: none;
}
.b_style:hover p{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); 
}

.vertical_line
{
  border-left: 4px solid #AE0712;
  height: 150px;
  margin-top: 100px;
  
}

@media screen and (max-width: 640px) {
  .popup {
    width: 100px;
  }
  .title {
      margin-left: 0;
  }
  .sub_menu {
    margin-left: 0;
    line-height: 50px;
  }
  .a_style{
    font-size: 22px;
  }
  .col-xs-1 {
    display: none;
  }
}