<style type="text/css">
    ::ng-deep.cdk-global-overlay-wrapper {
        background-image: url(assets/images/carousel.jpg) !important;
      }
      ::ng-deep.mat-dialog-container {
        background: none;
        box-shadow: none;
      }
</style>
    <section class="slider-section">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>
                <li data-target="#carousel" data-slide-to="6"></li>
                <li data-target="#carousel" data-slide-to="7"></li>
                <li data-target="#carousel" data-slide-to="8"></li>
            </ol> <!-- End of Indicators -->

            <!-- Carousel Content -->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('assets/images/1.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/2.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/3.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/4.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/5.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/6.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/7.jpg');">
                </div> <!-- End of Carousel Item -->

                <div class="carousel-item" style="background-image: url('assets/images/8.jpg');">
                </div> <!-- End of Carousel Item -->
            </div> <!-- End of Carousel Content -->

            <!-- Previous & Next -->
            <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div> <!-- End of Carousel -->
    </section> <!-- End of Slider -->
