/* Slider */
.carousel-item {
  height: 53vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media screen and (max-width: 640px) {

	.carousel-item {
	  height: 38vh;
	}

}
