<div class="container-fluid" class="background">
<div class="row">
    <div class="col-md-6">
        <a class="a_style" routerLink="/home"><img class="header"  width="200" src="assets/images/WEB_Logo (1).png" class="img-rounded"></a>
    </div>
    <div class="col-md-6">
        <img class="header"  width="200" src="assets/images/Hello_png (1).png" class="right" (click)="openDialog()">
    </div>
</div>
<div class="row" class="title">
    <div class="col">
        <p>GOOD DESIGNS <br/> TAKES GREAT MINDS</p>
    </div>
    <div class="col" class=".right">
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- <br/> -->
        <p class="paragraph"><b>WILDARTSTUDIO</b> is a platform where we make</p>
        <p class="paragraph">innovative and creative designs for you.</p>
        <br/>
        <br/>
        <a class="a_style home-links__icon" style="margin-left: 15px;" routerLink="/team"><img class="icon_style" src="assets/images/Meet_png.png">&nbsp;&nbsp;<span>Meet Our Team</span></a>
        <br/>
        <a class="a_style home-links__icon"  routerLink="/work"><img class="icon_style" src="assets/images/Work_png.png">&nbsp;&nbsp;<span>View Our Work</span></a>
        <br/>
        <a class="a_style home-links__icon" routerLink="/services"><img class="icon_style " src="assets/images/Services_png.png">&nbsp;&nbsp;<span>Services</span></a>
    </div>
    <div class="col-md-6">
        <img width="800" height="500" src="assets/images/AArtboard 2.png" class="img-rounded"
        style="float: right;">
    </div>
</div>
</div>



