.header
{
    width: 200px;
    display: block;
    margin: 0 auto;
    float: left;
}

.background
{
    background-color: #AE0712;
    position: relative;
    overflow-x: hidden;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 100vh;
}

.right
{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.title
{
    /*padding: 0,0,5,0 px;*/
    color: white;
    font-size: 36px;
    font-family: Roboto-Black;
    margin-left: 32px;
    /* font-weight: 900; */
}

.paragraph
{
  color:white;
  font-size: 25px;
  margin-left: 36px;
  font-weight: bold;
  font-style: italic;
}

.icon_style
{
    margin-left: 20px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
}

.a_style
{
  color:white;
  font-size: 20px;
  margin-left: 20px;
  font-weight: normal;
}

.home-links__icon {
  text-decoration: none;
}

.home-links__icon img {
    transition: transform 125ms ease-in-out;
}

.third{
  padding-top: 5%;
}

.home-links__icon:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); 
}


@media screen and (min-width: 1920px) {

  .header {
    height: 30vh;
    width: 350px;
  }
  .title{
    height: 15vh;
    font-size: 55px;
  }
  .second {
    height: 10vh;
  }
  .paragraph {
    font-size: 44px;
  }
  .icon_style {
    width: 100px;
    height: 5vh;
  }
  .a_style{
    font-size: 40px;
  }
}