<div class="container-fluid" class="background">
    <div class="row">
        <div class="col-md-6">
            <img class="header img-rounded"  width="200" src="assets/images/WEB_Logo (1).png">
        </div>
        <div class="col-md-6">
            <img class="header right"  width="200" src="assets/images/Hello_png.png" (click)="openDialog()">
        </div>
    </div>
    <div class="row" class="title">
        <div>
            <p>GOOD DESIGNS <br/> TAKES GREAT MINDS</p>
        </div>
        <div class="col" class=".right">
            
        </div>
    </div>
    <div class="row second">
        <div class="col-md-6">
            <!-- <br/> -->
            <p class="paragraph"><b>WILDARTSTUDIO</b> is a platform where we make</p>
            <p class="paragraph">innovative and creative designs for you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 third">
            <a class="a_style home-links__icon" style="margin-left: 15px;" routerLink="/team"><img class="icon_style" src="assets/images/Meet_png.png">&nbsp;&nbsp;<span>Meet Our Team</span></a>
            <br/>
            <a class="a_style home-links__icon"  routerLink="/work"><img class="icon_style" src="assets/images/Work_png.png">&nbsp;&nbsp;<span>View Our Work</span></a>
            <br/>
            <a class="a_style home-links__icon" routerLink="/services"><img class="icon_style " src="assets/images/Services_png.png">&nbsp;&nbsp;<span>Services</span></a>
        </div>
        <div class="col-md-6">
            <img width="800" height="500" src="assets/images/AArtboard 2.png" class="img-rounded img-responsive"
            style="float: right;">
        </div>
    </div>
</div>



