.header
{
    height: 100px;
    width: auto;
    /* padding: 10px; */
    display: block;
    margin: 0 auto;
    float: left;
}

.background
{
    background-color: #AE0712;
    position: relative;
    overflow-x: hidden;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.right
{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.title
{
    /*padding: 0,0,5,0 px;*/
    color: white;
    font-size: 36px;
    font-family: Roboto-Black;
    margin-left: 32px;
    /* font-weight: 900; */
}

.paragraph
{
  color:white;
  font-size: 25px;
  margin-left: 36px;
  font-weight: bold;
  font-style: italic;
}

.icon_style
{
    margin-left: 36px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
}

.a_style
{
  color:white;
  font-size: 20px;
  margin-left: 20px;
  font-weight: normal;
}

.home-links__icon {
    color: #f66;
    display: inline-block;
    font-size: 2.5em;
    margin: 0 7.5%;
    transition: transform 125ms ease-in-out;
}


.home-links__icon:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); 
}
