<div class="container-fluid" class="background">
<div class="row">
    <div class="col-md-6">
        <img class="header"  width="200" src="assets/images/WEB_Logo (1).png" class="img-rounded">
    </div>
    <div class="col-md-6">
        <img class="header"  width="200" src="assets/images/Hello_png (1).png" class="right" (click)="openDialog()">
    </div>
</div>
<div class="row" class="title">
    <div class="col">
        <p>GOOD DESIGNS <br/> TAKES GREAT MINDS</p>
    </div>
    <div class="col" class=".right">
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- <br/> -->
        <p class="paragraph"><b>WILDARTSTUDIO</b> is a platform where we make</p>
        <p class="paragraph">innovative and creative designs for you.</p>
        <br/>
        <br/>
        <img class="icon_style" src="assets/images/Meet_png.png">  <a class="a_style" style="margin-left: 15px;" routerLink="/team">
        Meet Our Team </a>
        <br/>
        <img class="icon_style" src="assets/images/Work_png.png"> <a class="a_style"  routerLink="/work">View Our Work</a>
        <br/>
        <img class="icon_style" src="assets/images/Services_png.png"> <a class="a_style" routerLink="/services">Services</a>
    </div>
    <div class="col-md-6">
        <img width="800px" height="500px" src="assets/images/AArtboard 2.png" class="img-rounded"
        style="float: right;">
    </div>
</div>
</div>



