<div class="project desktop">
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="row" class="header"> 
        <!-- <div class="col-md-12" class="header"> -->
        <h2 class="header_text" style="font-weight: 900; font-size: 4em;"><img width="80" height="80" src="assets/images/Icon_png.png">&nbsp;&nbsp;{{showDetails()}}</h2>
        <p class="header_text" style="font-weight: 500; font-size: 1.75em;">This whole site is about us, but we want to know about you.</p>
    </div>

    <div class="row" > 
        <div class="col-md-6">
            <p class="heading">Introduce your project</p>
            <p class="body"> Send us your brief and we’ll start thinking</p>
            <p class="body">about how can we help you.</p>
            <p class="body">wildart.studio</p>
        </div>
        <div class="col-md-6">
            <p class="heading">Ask us a question</p>
            <p class="body">Drop a quick message in our inbox and</p>
            <p class="body">we’ll find an best answer for you.</p>
            <p class="body">wildart.studio</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="body" style="margin-top: 1.25em;">Follow us on:</p>
        </div>
    </div>
</div>
<div class="project">
    <div class="row" style="background: #AE0712;">
        <div class="col-md-12" class="footer">
            <a href="https://instagram.com/wildartstudio_?igshid=1rbjgn5t9vduf" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
    </div> 
</div>