.project{
    padding: unset !important;
}

.header{
    padding: 0;
}

.header_text {
    color: #AE0712;
    width: auto;
    font-family: Roboto;
}
.header_text img{
    margin-left: -5px;
}

.heading
{
    color: #AE0712;
    font-family: Roboto;
    font-weight: 900;
    font-size: 2.25em;
}

.desktop {
    margin-left: 25px;
}

.footer
{
    height: 4em;
    background-color: #AE0712;
    text-align: center;
}

.footer i {
    margin: 10px 20px 0px 20px;
    font-size:36px;
    color:white;
}

.body
{
    color: #AE0712;
    font-size: 1.25em;
    font-weight: 400;
    font-family: Roboto;
}

@media screen and (max-width: 640px) {
    .desktop{
        margin-left: 0;
    }
}