<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/images/Other_page_hello_jpeg.jpg" style="float: right; width: 200px; margin-top: 20px;" (click)="openDialog()">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-4">
            <br/>
            <br/>
            <br/>
            <p class="title">WILD</p>
            <p class="title">ART</p>
            <p class="title">STUDIO</p>
            <p class="sub_menu"><a class="a_style" routerLink="/team">TEAM</a> | 
                <a class="a_style" routerLink="/work"><u>WORK</u></a> | 
                <a class="a_style" routerLink="/services">SERVICES</a>
            </p>
        </div>
        <div class="col-xs-1">
            <p class="vertical_line"></p>
        </div>
        <div class="col-md-6">
            <p style="font-size: 45px; font-weight: bolder; font: Robot; color: #AE0719; margin-right: 50px; text-align: center;">
                Motion Graphics & 3D
            </p>
            
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel($event)"></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" class="button_style"><img src="assets/images/design_3.jpg" (click)="openDialogCarousel('design_3.jpg')"></button>
                </div>
            </div>
            
        </div>

    </div>
</div>